body {
    overflow-x: scroll;
    width: 100%;
    background-color: #1c1919;
    font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
}

header {
  position: absolute;
  top: 10px;
}

hr {
 height: 10px;
 border: 1px solid black;
 border-color: black;
 border-width: 1px 0 0 0;
 }

 input {
 background: #FFF;
  text-align: left;
  width: 250px;
  min-height: 30px;
  border-radius: 3px;
  padding: 5px;
  border: 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #808080;
  margin-bottom: 15px;
 }

 button {
   padding: 6px 15px 6px 15px;
   border: 1px solid #555555;
   border-radius: 5px;
   color: #555555;
   background: #d6d6d7;
 }

 button:hover{
   color: black;
   border-color: black;
   background: #d9d0d0;
 }
 .ui-dialog {
   min-width: 600px;
 }

 .ui-dialog button{
   margin-top:10px;
   margin-bottom: 10px;
 }

.msg
{
margin:6px;
font-size:1em;
padding:10px;
width:160px;
background-color:#FFFFFF;
padding-left:10px;
border-radius:5px;
font-size: 14px;

}

.ui-sortable div div p
{
padding-left:10px;
}

.task
{
min-height: 100px;
float:left;
padding: 10px;
margin: 10px;
border-radius:5px;
background-color: #d9d0d0;
min-width: 100px;
word-wrap: break-word;
position: relative;

}

.drop {
  min-height: 50px;
  min-width: 200px;
  float:left;
}

.msg:hover {
 background-color: #ededed;
}

.tab
{
float:left;
min-height: 100px;
padding-top: 50px;
}

.btnToolbar {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}

.taskHeader {
  font-style: bold;
  font-size:1em;
}

.closeTab{
  display: inline-block;
  padding-bottom: 10px;
  top: 22px;
  right: 15px;
  position: absolute;
}

.edit {
  margin-right: 5px;
  padding: 2px;
}
.tabHeader {
   display: inline-block;
   width:280px;
}

.task h3 {
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
  background-color: #d12a34;
  color: white;
}


.other, #taskname, #etaskname, #etasktext, #tasktext {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #808080;
  border-radius: 3px;
  padding: 5px;
  word-wrap: break-word;
}

.tname {
  float: left;
  padding: 2px;
}
#banner {
  height: 110px;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

#banner img{
   vertical-align: middle;
   height: 60px;
 }

#etasktext, #tasktext {
 text-align: left;
 margin: 0;
 min-height: 60px;
 display: inline-block;
}


.tabs{
    display:inline-block;
}
.tabs > div{
    padding-top:10px;
}
.tabs ul{
    margin:0px;
    padding:0px;
}
.tabs ul:after{
    content:"";
    display:block;
    clear:both;
    height:5px;
    background:#d12a34;
}
.tabs ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    background:#e9eaeb;
    color:#707070;
}
.tabs ul li.active, .tabs ul li.active:hover{
    background:#d12a34;
    color:#fff;
}
.tabs ul li:hover{
    background:#d6d6d7;
}
